{{link-to 'Back' 'device-classes' class='btn btn-success'}}

<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">Devices for klass</h3>
</div>
<div class="panel-body">
  <table class="table  table-hover">
    <tbody>
      {{#each device in model.devices}}
      <tr>
        <td {{action 'showSessions' device}} style="cursor:pointer">{{device.id}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>

</div>


