<h4>Inventario</h4>
<ul class="nav nav-sidebar">
  <li> 
    {{#link-to 'index'}}
    <i class="mdi-action-assignment-turned-in"></i> Planes
    {{/link-to}}
  </li>

  <li> 
    {{#link-to 'index'}}
    <i class="mdi-action-shopping-cart"></i> Productos
    {{/link-to}}
  </li>

  <li> 
    {{#link-to 'index'}}
    <i class="mdi-file-folder"></i> Archivo
    {{/link-to}}
  </li>
</ul>
